.content {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  & .invoice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem 0;

    & .invoice-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .border {
    font-size: 17px;
    border-collapse: collapse;
    width: 100%;

    overflow-y: auto;
    /* Add vertical scrollbar */
    max-height: 300px;
    /* Example height; adjust as needed */

    tr {
      th {
        padding: 10px;
  background: linear-gradient(to bottom, #00b4db, #0083b0);
        
        color: white;
      }

      td {
        text-align: center;
        padding: 12px;

        button {
          padding: 7px 12px;
          /* background-color: #6e7bda; */
          border: none;
          border-radius: 5px;
          color: white;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }

    .buttonss {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      align-items: center;
      gap: 1rem;
    }

    tr:nth-child(even) {
      background-color: #f8f7ff;
    }
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .content {
    .border {
      font-size: 12px;
    }
  }
}
