* {
  margin: 0;
  padding: 0;
}

.counter_container {
  padding: 20px 40px;
  height: 100vh;

  .content {
    background-color: rgb(123 188 228 / 24%);
    border-radius: 10px;

    .top {
      .left {
        padding: 10px 20px;

        .left-top {
          display: flex;
          gap: 2rem;
          margin-bottom: 10px;

          input {
            padding: 5px;
            text-align: center;
          }

          .email {
            width: 250px;
          }

          .input {
            label {
              margin-right: 10px;
            }
          }
        }

        .left-bottom {
          .table-container {
            border-radius: 10px;
            padding: 10px;
            color: white;
          }

          table {
            width: 100%;
            border-collapse: collapse;
            background-color: #fff;

            thead {
              tr {
                width: 100%;
                text-align: center;
                background: linear-gradient(to bottom, #00b4db, #0083b0);
                color: white;

                th:first-child {
                  width: 6%;

                }

                th:nth-child(2) {
                  width: 20%;
                }

                th:nth-child(3) {
                  width: 25%;
                }

                th:nth-child(4) {
                  width: 10%;
                }

                th:nth-child(5) {
                  width: 10%;
                }

                th:nth-child(6) {
                  width: 7%;
                }

                th:nth-child(7) {
                  width: 12%;
                }
              }
            }

            tbody {
              tr {
                &:hover {
                  background-color: inherit;
                }

                &:nth-child(even) {
                  background-color: #f9f9f9;
                }
              }

              input,
              select {
                /* border: none; */
                padding: 2px 5px;
                width: 95%;
                margin:0.5rem;
              }

              .right {
                text-align: center;
              }
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 20px;

      .left {
        .input {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
          gap: 2rem;

          input {
            font-size: 24px;
            text-align: right;
            padding: 5px 0;
            padding-right: 10px;
          }
        }
      }

      .right {
        text-align: center !important;

        .input {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
          gap: 2rem;

          input {
            font-size: 16px;
            text-align: right;
            padding: 5px 0;
            padding-right: 10px;
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;

          button {
            text-transform: uppercase;
            background: linear-gradient(to bottom, #00b4db, #0083b0);
            color: white;
            padding: 7px 12px;
            border: none;
            border-radius: 10px;
            background-color: #e4e7ea;
            width: 100%;
            margin-top: 20px;
            cursor: pointer;
            font-size: 16px;
          }
        }
      }
    }
  }

  & .bottom-content {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;

    & left {
      height: 30vh;
      overflow: scroll;
    }
  }
}

td {
  text-align: center;
}

tr {
  text-align: center;
}

input {
  text-align: center;
  border: 0.01rem black solid;
}