@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.billing_container {
  h1 {
    text-align: center;
    font-weight: 500;
  }

  .container {
    display: flex;
    gap: 2rem;
    /* background-color: #f3f3f3; */
    border-radius: 10px;
    justify-content: flex-start;
    gap: 3%;
    height: 100vh;
    .sidebar {
      padding: 10px 20px;
      /* background-color: #fff; */
    background-color: #f3f3f3;
    min-width: 13vw;


      border-radius:10px;

      h3 {
        font-weight: 500;
        margin: 10px 0;

        svg {
          margin-right: 5px;
        }
      }

      .links {
        display: grid;

        a {
          text-decoration: none;
          color: black;
          padding: 5px 20px;
        }

        a:hover {
          background-color: #b4e0f1;
        }

        .bold {
          font-weight: 500;
        }

        .active-link {
          background-color: #b4e0f1;
        }

        hr {
          margin: 10px 0;
        }
      }
    }
  }
}
.logout {
  padding: 10px 20px;
  border: none;
  background-color: #00b4db;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  display: block;
  width: 100%;
  border-radius: 5px;
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
  .billing_container {
    & .container {
      gap: 1%;
        .sidebar {
            padding: 10px 20px;
            /* background-color: #fff; */
            background-color: #f3f3f3;
            min-width: 18vw;
            min-height: 100vh;
            border-radius: 10px;
        }
    }
}
}
