.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;


    .login-box {
        display: flex;
        width: 40%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        height: 68%;
      

        .login-left {
            background: linear-gradient(to bottom, #00b4db, #0083b0);
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 2em;
            font-weight: bold;
            flex-direction: column;
          }
          .login-right {
            flex: 1;
            background-color: #fff;
            padding: 40px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;


            .login-right h2 {
                margin-bottom: 10px;
              }
              
              .login-right p {
                margin-bottom: 20px;
                color: #888;
              }
              
              .input-group {
                margin-bottom: 15px;
              }
              
              .input-group input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
              }
              
              .input-group .error {
                color: red;
                font-size: 0.9em;
              }
              
              .login-btn {
                width: 45%;
                padding: 10px;
                background-color: #00b4db;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
              }
              
              
              .forgot-password {
                display: block;
                margin: 10px 0;
                color: #00b4db;
                text-decoration: none;
              }
              
              .register-link {
                color: #00b4db;
                text-decoration: none;
              }
          }
          
        
      }
      
      
      
     
      
  }
  .animation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  a{
    text-decoration: none;
    color:#3498db ;
    margin-top: 2%;
  }

  
 